 <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Shop App</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente sit officia officiis
                    repudiandae necessitatibus labore cupiditate, expedita consequatur nam eveniet dolorem doloribus
                    nihil tempora delectus soluta eum quidem veritatis magni?</p>

            </div>
        </div>
    </header>